﻿@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
@model Employees.Models.EmployeeList
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table" >
        <thead class="thead-light">
            <tr>
                <th>Employee Id</th>
                <th>FirstName</th>
                <th>Last Name</th>
                <th>E-mail ID</th>
            </tr>
        </thead>
        @foreach (EmployeeList emp in (EmployeeList[])ViewBag.Emps)
        {
            <tr>
                <td>@emp.empid</td>
                <td>@emp.fname</td>
                <td>@emp.lname</td>
                <td>@emp.mail</td>
            </tr>
        }
    </table>
</body>
</html>
